.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

input, button {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
/* Style for the active vehicle button */
#vehicleButtons button.active {
    background-color: #777;
    color: white;
}

/* Style for the active city button */
#cityButtons button.active {
    background-color: #777;
    color: white;
}